
p{color:red;font-size:22pt;}

p#gruby_rzymowski{color:green;font-size:17pt;font-weight:bold;}

#dlawszystkich_rzymowski{color:yellow;font-family:Arial;font-size:10pt;}

/*  Rzymowski Z22_html */ 